In [1]:
import pandas as pd
import time
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Trying to download new driver from http://chromedriver.storage.googleapis.com/88.0.4324.96/chromedriver_mac64.zip

[WDM] - Driver has been saved in cache [/Users/kevinricker/.wdm/drivers/chromedriver/mac64/88.0.4324.96]

In [3]:
url = 'https://mars.nasa.gov/news'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')
slide_element = soup.select_one("ul.item_list li.slide")

In [5]:
slide_element.find("div", class_ = "content_title")

In [6]:
news_title = slide_element.find("div", class_ = "content_title").get_text()
print(news_title)

NASA's Perseverance Pays Off Back Home

In [7]:
news_par = slide_element.find("div", class_ = "article_teaser_body").get_text()
print(news_par)

Even as the Perseverance rover approaches Mars, technology on board is paying off on Earth.

In [8]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [/Users/kevinricker/.wdm/drivers/chromedriver/mac64/88.0.4324.96/chromedriver] found in cache

In [9]:
url = "https://www.jpl.nasa.gov/images/?search=&category=Mars"
browser.visit(url)

In [10]:
img_html=browser.html
soup=bs(img_html, "html.parser")
base_url = "https://www.jpl.nasa.gov"
latest_img = soup.find_all('div', class_="SearchResultCard")
img=latest_img[0]
latest=img.find("a")["href"]
new_url = base_url + latest

IndexError: list index out of range

In [11]:
print(new_url)

NameError: name 'new_url' is not defined

In [12]:
browser.visit(new_url)
img_html=browser.html
soup=bs(img_html, "html.parser")
large_img = soup.find_all('div', class_="BaseImagePlaceholder")
large_img = large_img[0]
featured_image_url = large_img.find('img')['src']
print(featured_image_url)


 Visit the Mars Facts Site Using Pandas to Read
mars_df = pd.read_html("https://space-facts.com/mars/")[0]
print(mars_df)
mars_df.columns=["Description", "Value"]
mars_df.set_index("Description", inplace=True)
mars_df

NameError: name 'new_url' is not defined

In [13]:
# https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA24390_hires.jpg

In [14]:
mars_df = pd.read_html("https://space-facts.com/mars/")[0]

In [15]:
mars_df.columns=["Description", "Mars"]
# mars_df.reset_index(drop=True, inplace=True)

mars_df.set_index(drop=true, inplace=True)

NameError: name 'true' is not defined

In [16]:
# mars_df.to_html()
html_table = mars_df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Mars</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [17]:
mars_df.to_html('mars_table.html')

In [19]:
mars_df.head(10)

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers