In [ ]:
# kcharlesr

In [1]:
import pandas as pd
import time
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [/Users/kevinricker/.wdm/drivers/chromedriver/mac64/88.0.4324.96/chromedriver] found in cache

In [3]:
url = 'https://mars.nasa.gov/news'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')
slide_element = soup.select_one("ul.item_list li.slide")

In [5]:
slide_element.find("div", class_ = "content_title")

In [6]:
news_title = slide_element.find("div", class_ = "content_title").get_text()
print(news_title)

NASA's Perseverance Pays Off Back Home

In [7]:
news_par = slide_element.find("div", class_ = "article_teaser_body").get_text()
print(news_par)

Even as the Perseverance rover approaches Mars, technology on board is paying off on Earth.

In [8]:
url = "https://www.jpl.nasa.gov/images/?search=&category=Mars"
browser.visit(url)

In [15]:
img_html=browser.html
soup=bs(img_html, "html.parser")
base_url = "https://www.jpl.nasa.gov"
latest_img = soup.find_all('div', class_="SearchResultCard")
img=latest_img[0]
latest=img.find("a")["href"]
new_url = base_url + latest

In [16]:
print(new_url)

In [17]:
browser.visit(new_url)
img_html=browser.html
soup=bs(img_html, "html.parser")
large_img = soup.find_all('div', class_="BaseImagePlaceholder")
large_img = large_img[0]
featured_image_url = large_img.find('img')['src']
print(featured_image_url)

In [22]:
mars_df = pd.read_html("https://space-facts.com/mars/")[0]
print(mars_df)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [24]:
mars_df.columns=["Description", "Value"]
mars_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [25]:
mars_df.set_index('Description', inplace=True)
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [27]:
mars_html=mars_df.to_html(classes='table table-striped')
mars_html=mars_html.replace('<tr style="text-align: right;">','<tr style="text-align: left;">')
mars_html

'<table border="1" class="dataframe table table-striped">\n  <thead>\n    <tr style="text-align: left;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [28]:
print(mars_html)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [29]:
hemisphere_url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemisphere_url)

In [31]:
hem_url='https://astrogeology.usgs.gov'
html = browser.html
soup = bs(html, 'html.parser')
hemisphere_image_urls = []
results=soup.find_all('div',class_='item')
for result in results:
    try:    
        hem=result.find('h3').text
        image=result.find('a')["href"]
        hem_url2=hem_url+image
        browser.visit(hem_url2)
        img_html=browser.html
        soup=bs(img_html, 'html.parser')
        image=soup.find('img', class_='wide-image')['src']
        new_url=hem_url+image
        hemis_dict = {"title": hem, "img_url":new_url}
        hemisphere_image_urls.append(hemis_dict)
        print(hem)
        print(new_url)
    except Exception as e:
        print(e)

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg